<ul class="accordion" data-accordion>

    {{#each global.etkezesbefizetes.months}}
  
      <li class="accordion-item {{#if @first}}is-active{{/if}}" data-accordion-item>
  
        <a href="#" class="accordion-title">{{ name }}</a>
  
        <div class="accordion-content" data-tab-content>
          <ul class="no-bullet">
            {{#each dates}}
              <li>
                <strong>{{ date }}</strong> – {{ time }}
              </li>
            {{/each}}
          </ul>
        </div>
  
      </li>
  
    {{/each}}
  
  </ul>
  