
    {{#each galleries}}
    {{#eq slug @root.gallery_slug}}
          <h5 class="text-center"> {{title}} <br>
          {{#if date}}<small>{{date}}</small>{{/if}} </h5>
          <!-- {{#if description}}<p  class="text-center">{{description}}</p>{{/if}} -->


    <div class="content">
        <div class="gg-container">
        <div class="gg-box dark" id="square">
          {{#range 1 count pad=2}}
            <img
              src="/assets/img/galeriak/2025_26/ps/{{../slug}}/{{this}}.jpg">
          {{/range}}
        </div>

    </div>

      </div>
    {{/eq}}
  {{/each}}
  {{> grid_gallery_js}}
  {{> vissza2}}
