 
  {{!-- cards tömb kikeresése a data fájlból --}}
  {{#each (lookup (lookup @root data) "cards")}}
    {{#if @first}}
      <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-4">
    {{/if}}
  
    <div class="cell">
      <div class="card" style="height:100%;">
        <a href="/galeriak/{{../year}}/{{../schoolfoldername}}/{{slug}}.html" aria-label="{{title}}">
          <img
            src="/assets/img/galeriak/{{../year}}/{{../schoolfoldername}}/{{slug}}/01.jpg"
            alt="{{title}}"
            loading="lazy">
        </a>
        <div class="card-section">
          <p class="text-center" style="margin-bottom:.25rem; line-height: 1.25rem;">
            <a href="/galeriak/{{../../year}}/petofi/{{slug}}.html"> {{title}}</a>
          </p>
          {{#if date}}
            <p class="text-center" style="margin-bottom:.5rem;">{{date}}</p>
          {{/if}}
        </div>
      </div>
    </div>
  
    {{#if @last}}
      </div>
    {{/if}}
  {{/each}}
  