<ul class="menu simple">
    <li {{#ifpage 'fooldal_2025_26_ps'}} class="is-active" {{/ifpage}} >
        <a
            href="{{root}}galeriak/2025_26/ps/fooldal_2025_26_ps.html"
            style="padding: 0.7rem 1rem"
            >Székhely</a
        >
    </li>
    <li {{#ifpage 'fooldal_2025_26_bs'}} class="is-active" {{/ifpage}} >
        <a
            href="{{root}}galeriak/2025_26/bs/fooldal_2025_26_bs.html"
            style="padding: 0.7rem 1rem"
            >Tagiskola</a
        >
    </li>
</ul>
