<tr>
  <td>{{tantargy1}}</td>
  <td>{{oszt1}}</td>
  <td>{{pont1}}</td>
  <td>{{orszpont1}}</td>
  <td>{{visz1csop1}}</td>
  <td>{{visz2csop1}}</td>
</tr>
<tr>
  <td>{{tantargy2}}</td>
  <td>{{oszt2}}</td>
  <td>{{pont2}}</td>
  <td>{{orszpont2}}</td>
  <td>{{visz1csop2}}</td>
  <td>{{visz2csop2}}</td>
</tr>
<tr>
  <td>{{tantargy3}}</td>
  <td>{{oszt3}}</td>
  <td>{{pont3}}</td>
  <td>{{orszpont3}}</td>
  <td>{{visz1csop3}}</td>
  <td>{{visz2csop3}}</td>
</tr>
<tr>
  <td>{{tantargy4}}</td>
  <td>{{oszt4}}</td>
  <td>{{pont4}}</td>
  <td>{{orszpont4}}</td>
  <td>{{visz1csop4}}</td>
  <td>{{visz2csop4}}</td>
</tr>
<tr>
  <td>{{tantargy5}}</td>
  <td>{{oszt5}}</td>
  <td>{{pont5}}</td>
  <td>{{orszpont5}}</td>
  <td>{{visz1csop5}}</td>
  <td>{{visz2csop5}}</td>
</tr>
<tr>
  <td>{{tantargy6}}</td>
  <td>{{oszt6}}</td>
  <td>{{pont6}}</td>
  <td>{{orszpont6}}</td>
  <td>{{visz1csop6}}</td>
  <td>{{visz2csop6}}</td>
</tr>
<tr>
  <td>{{tantargy7}}</td>
  <td>{{oszt7}}</td>
  <td>{{pont7}}</td>
  <td>{{orszpont7}}</td>
  <td>{{visz1csop7}}</td>
  <td>{{visz2csop7}}</td>
</tr>
<tr>
  <td>{{tantargy8}}</td>
  <td>{{oszt8}}</td>
  <td>{{pont8}}</td>
  <td>{{orszpont8}}</td>
  <td>{{visz1csop8}}</td>
  <td>{{visz2csop8}}</td>
</tr>
<tr>
  <td>{{tantargy9}}</td>
  <td>{{oszt9}}</td>
  <td>{{pont9}}</td>
  <td>{{orszpont9}}</td>
  <td>{{visz1csop9}}</td>
  <td>{{visz2csop9}}</td>
</tr>
<tr>
  <td>{{tantargy10}}</td>
  <td>{{oszt10}}</td>
  <td>{{pont10}}</td>
  <td>{{orszpont10}}</td>
  <td>{{visz1csop10}}</td>
  <td>{{visz2csop10}}</td>
</tr>
<tr>
  <td>{{tantargy11}}</td>
  <td>{{oszt11}}</td>
  <td>{{pont11}}</td>
  <td>{{orszpont11}}</td>
  <td>{{visz1csop11}}</td>
  <td>{{visz2csop11}}</td>
</tr>
<tr>
  <td>{{tantargy12}}</td>
  <td>{{oszt12}}</td>
  <td>{{pont12}}</td>
  <td>{{orszpont12}}</td>
  <td>{{visz1csop12}}</td>
  <td>{{visz2csop12}}</td>
</tr>
<tr>
  <td>{{tantargy13}}</td>
  <td>{{oszt13}}</td>
  <td>{{pont13}}</td>
  <td>{{orszpont13}}</td>
  <td>{{visz1csop13}}</td>
  <td>{{visz2csop13}}</td>
</tr>
<tr>
  <td>{{tantargy14}}</td>
  <td>{{oszt14}}</td>
  <td>{{pont14}}</td>
  <td>{{orszpont14}}</td>
  <td>{{visz1csop14}}</td>
</tr>
<tr>
  <td>{{tantargy15}}</td>
  <td>{{oszt15}}</td>
  <td>{{pont15}}</td>
  <td>{{orszpont15}}</td>
  <td>{{visz1csop15}}</td>
</tr>
<tr>
  <td>{{tantargy16}}</td>
  <td>{{oszt16}}</td>
  <td>{{pont16}}</td>
  <td>{{orszpont16}}</td>
  <td>{{visz1csop16}}</td>
  <td>{{visz2csop16}}</td>
</tr>
<tr>
  <td>{{tantargy17}}</td>
  <td>{{oszt17}}</td>
  <td>{{pont17}}</td>
  <td>{{orszpont17}}</td>
  <td>{{visz1csop17}}</td>
</tr>
<tr>
  <td>{{tantargy18}}</td>
  <td>{{oszt18}}</td>
  <td>{{pont18}}</td>
  <td>{{orszpont18}}</td>
  <td>{{visz1csop18}}</td>
  <td>{{visz2csop18}}</td>
</tr>
<tr>
  <td>{{tantargy19}}</td>
  <td>{{oszt19}}</td>
  <td>{{pont19}}</td>
  <td>{{orszpont19}}</td>
  <td>{{visz1csop19}}</td>
  <td>{{visz2csop19}}</td>
</tr>
<tr>
  <td>{{tantargy20}}</td>
  <td>{{oszt20}}</td>
  <td>{{pont20}}</td>
  <td>{{orszpont20}}</td>
  <td>{{visz1csop20}}</td>
  <td>{{visz2csop20}}</td>
</tr>
<tr>
  <td>{{tantargy21}}</td>
  <td>{{oszt21}}</td>
  <td>{{pont21}}</td>
  <td>{{orszpont21}}</td>
  <td>{{visz1csop21}}</td>
  <td>{{visz2csop21}}</td>
</tr>
<tr>
  <td>{{tantargy22}}</td>
  <td>{{oszt22}}</td>
  <td>{{pont22}}</td>
  <td>{{orszpont22}}</td>
  <td>{{visz1csop22}}</td>
</tr>
<tr>
  <td>{{tantargy23}}</td>
  <td>{{oszt23}}</td>
  <td>{{pont23}}</td>
  <td>{{orszpont23}}</td>
  <td>{{visz1csop23}}</td>
  <td>{{visz2csop23}}</td>
</tr>
<tr>
  <td>{{tantargy24}}</td>
  <td>{{oszt24}}</td>
  <td>{{pont24}}</td>
  <td>{{orszpont24}}</td>
  <td>{{visz1csop24}}</td>
</tr>
