<h6>Rövidítések</h6>
<table  class="unstriped">
            <tr>
                <td><b>oszt</b> <br><b>Fh eredm</b><br><b>Fh eredm orsz átl</b><br><b>1. visz csop</b> <br><b>Fh eredm 1 visz csop</b> <br><b>2. visz csop</b> <br> <b>Fh eredm 2 visz csop</b></td> <td>➡️ osztály <br>➡️ Feladatellátési hely eredménye<br>➡️ Feladatellátési hely eredménye az országos átlaghoz képest<br>➡️ Első viszonyítási csoport  <br> ➡️ Feladatellátési hely eredménye az első viszonyítási csoport átlagához képest  <br>➡️ Második viszonyítási csoport <br>➡️ Feladatellátési hely eredménye a második viszonyítási csoport átlagához képest </td>
               
                   </tr>
        </table>
