<thead>
  <tr>
    <th class="text-left">Mérési terület</th>
    <th>
      <abbr title="{{évfolyam}}">évf</abbr>
    </th>
    <th class="text-center">
      <abbr title="A feladatellátási hely eredménye">Fh eredm</abbr>
    </th>
    <th class="text-center">
      <abbr title="A feladatellátási hely eredménye az országos átlaghoz képest"
        >fh eredm orsz átl</abbr
      >
    </th>
    <th class="text-center">
      <abbr title="Első viszonyítási csoport">1 visz csoport</abbr>
    </th>
    <th class="text-center">
      <abbr title="Második viszonyítási csoport"></abbr>2 visz csoport
    </th>
  </tr>
</thead>
