   
   
    <ul class="menu expanded text-center" style="margin-bottom: 1em;">
        <li{{#ifpage 'hirfolyam_2023_24' }} class="is-active" {{/ifpage}}><a
        href="{{root}}hirfolyam_2023_24.html">2023–24</a></li>
        <li{{#ifpage 'hirfolyam_2022_23' }} class="is-active" {{/ifpage}}><a
            href="{{root}}hirfolyam_2022_23.html">2022–23</a></li>
        <li{{#ifpage 'hirfolyam_2021_22' }} class="is-active" {{/ifpage}}><a
                href="{{root}}hirfolyam_2021_22.html">2021–22</a></li>
            <li{{#ifpage 'hirfolyam_2020_21' }} class="is-active" {{/ifpage}}><a
                    href="{{root}}hirfolyam_2020_21.html">2020–21</a></li>
                <li{{#ifpage 'hirfolyam_2019_20' }} class="is-active" {{/ifpage}}><a
                        href="{{root}}hirfolyam_2019_20.html">2019–20</a></li>
                    <li{{#ifpage 'hirfolyam_2018_19' }} class="is-active" {{/ifpage}}><a
                            href="{{root}}hirfolyam_2018_19.html">2018–19</a></li>
                            <li{{#ifpage 'hirfolyam_2017_18' }} class="is-active" {{/ifpage}}><a
                            href="{{root}}hirfolyam_2018_19.html">2017–18</a></li>
</ul>

