{{#markdown}}
Iskolánk, a Szegedi Petőfi Sándor Általános Iskola az idei tanévben is megrendezi a „Hetedhét országon túl…" járási mesemondó versenyt, melyre szeretettel várjuk a mesemondó gyerekeket és felkészítőjüket.

Kategóriánként az első helyezett továbbjut a Csongrád-Csanád Vármegyei Mesemondó Verseny szentesi döntőjébe.

*Minden résztvevőt ajándékkal, emléklappal várunk, a helyezetteket értékes könyvjutalomban és oklevélben részesítjük.*

*<u>Versenyünk célja:</u>* A szép, tiszta kiejtésre és kifejező előadásra nevelés.

* A 2., 3. és 4. osztályosok külön-külön kategóriában versenyeznek.
* A tanulóknak előzetes felkészülés alapján, egy szabadon választott mesét kell előadniuk. A szöveg terjedelme lehetőleg ne haladja meg az egy gépelt oldalt.
* Minden évfolyamból iskolánként 1-1 tanuló jelentkezését várjuk (500 fő feletti iskola esetén 2 tanuló).


A verseny időpontja: 2025. november 6. (csütörtök) 13:30
Helyszíne: Szegedi Petőfi Sándor Általános Iskola, Szeged, Benczúr Gyula u. 29. 
Eredményhirdetés: körülbelül 16:30-17:00 a Petőfi-telepi Művelődési Ház színháztermében
A nevezéseket 2025. november 4-ig kérjük elküldeni a honlapunkon található regisztrációs felületen:

https://petofiszeged.edu.hu/

Kérjük, hogy a regisztrációs felületről letölthető, kitöltött, aláírt adatkezelési hozzájáruló nyilatkozatokat a jelentkezési határidőig töltsék vissza a felületre vagy a titkarsag@petofiszeged.hu e-mail címre küldjék el!
Amennyiben a nevezéssel vagy az adatkezelési nyilatkozat elküldésével kapcsolatban nehézségbe ütköznek, kérjük, keressenek bennünket telefonon.

Szeretettel várjuk a tehetséges mesemondókat! 
Minden kollégának és versenyzőnek eredményes felkészülést és jó munkát kívánunk!


{{/markdown}}