{{#markdown}}
Iskolánk, a Szegedi Petőfi Sándor Általános Iskola az idei tanévben is megrendezi a „Hetedhét országon túl…" járási mesemondó versenyt, melyre szeretettel várjuk a mesemondó gyerekeket és felkészítőjüket.

Kategóriánként az első helyezett továbbjut a Csongrád-Csanád Vármegyei Mesemondó Verseny szentesi döntőjébe.

*Minden résztvevőt ajándékkal, emléklappal várunk, a helyezetteket értékes könyvjutalomban és oklevélben részesítjük.*

*<u>Versenyünk célja:</u>* A szép, tiszta kiejtésre és kifejező előadásra nevelés.

* A 2., 3. és 4. osztályosok külön-külön kategóriában versenyeznek.
* A tanulóknak előzetes felkészülés alapján, egy szabadon választott mesét kell előadniuk. A szöveg terjedelme lehetőleg ne haladja meg az egy gépelt oldalt.
* Minden évfolyamból iskolánként 1-1 tanuló jelentkezését várjuk (500 fő feletti iskola esetén 2 tanuló).

{{/markdown}}