{{#markdown}}

Augusztus

|   |   |
|---|---|
| 27. | Szülői értekezletek 2-8-ig |

<br>


Szeptember

|   |   |
|---|---|
| 1.  | Tanévnyitó ünnepség<br>Házirend ismertetése<br>Baleset- és tűzvédelmi oktatás<br>Szülői értekezlet 1.o<br>Diákügyelet megszervezése<br>Érzékenyítő program-iskolatáska gyűjtés<br> |
|     | Lázár Ervin Program<br>Nemzeti Emlékezetpedagógiai Program |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |


<br>

Október

|   |   |
|---|---|
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |

<br>

November

|   |   |
|---|---|
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |

<br>

December

|   |   |
|---|---|
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |

<br>

Január

|   |   |
|---|---|
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |

<br>

Február

|   |   |
|---|---|
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |

Március

|   |   |
|---|---|
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |


Április

|   |   |
|---|---|
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |

Május

|   |   |
|---|---|
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |

Június

|   |   |
|---|---|
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
| 0  | xxxxxxxxxxx |
{{/markdown}}