{{#markdown}}
Kérjük, hogy a regisztrációs felületről letölthető, kitöltött, aláírt adatkezelési hozzájáruló nyilatkozatokat a jelentkezési határidőig töltsék vissza a felületre vagy a titkarsag@petofiszeged.hu e-mail címre küldjék el! 

Amennyiben a nevezéssel vagy az adatkezelési nyilatkozat elküldésével kapcsolatban nehézségbe ütköznek, kérjük, keressenek bennünket telefonon. 

Szeretettel várjuk a tehetséges {{versenyzotipus}}!  

Minden kollégának és versenyzőnek eredményes felkészülést és jó munkát kívánunk! 
{{/markdown}}