{{#ifequal hir "news49"}}
{{#markdown}}
| | | |
| --- | --- | --- |
| 1\. oszt. | szept.  1. (hétfő) | 17:00 |
| 2\. oszt. | aug. 25. (hétfő) | 16:30 |
| 3\. oszt. | aug. 26. (kedd) | 17:00 |
| 4\. oszt. | aug. 26. (kedd) | 16:30 |
| 5\. oszt. | aug. 25. (hétfő) | 16:30 |
| 6\. oszt. | aug. 26. (kedd) | 16:30 |
| 7\. oszt. | aug. 26. (kedd) | 17:00 |
| 8\. oszt. | aug. 28. (csütörtök) | 17:00 |

{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news50"}}
{{#markdown}}
| | | |
| --- | --- | --- |
| 1\. oszt. | szept . 1. (hétfő) | 16:30 |
| 2\. oszt. | szept. 2. (kedd) | 16:30 |
| 3\. oszt. | szept. 4. (csüt.) | 16:30 |
| 4\. oszt. | szept. 9. (kedd) | 16:30 |
| 5\. oszt. | szept. 3. (szerda) | 16:30 |
| 6\. oszt. | szept. 11. (csüt.) | 16:30 |
| 7\. oszt. | szept. 8. (hétfő) | 16:30 |
| 8\. oszt. | szept. 10. (szerda) | 16:30 |

{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news51"}}
{{#markdown}}
###### Kedves Gyerekek! Kedves Szülők!

Szeretettel várunk mindenkit tanévnyitó ünnepségünkre!

**Időpont: 2025. 09. 01. (hétfő) 9:00**

Gyülekező 7:30-tól az iskolában. <br>
Ezen a napon osztályfőnöki órákat tartunk. <br>
Mindenki hozzon magával üzenőfüzetet, tolltartót, órarendet.

**Ebéd 11:30-tól**

Aki az első nap ebéd után haza szeretne menni, kérjük a szülői kikérőt mutassa be osztályfőnökének!
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news52"}}
{{#markdown}}
**Időpont: 2025. 09. 01. (hétfő) 8:00**

*Megjelenés ünneplőben 7:30 kor*

Szeretettel várunk minden érdeklődőt!

<p style="margin-bottom: 0;">Az első napon a következő felszerelés legyen mindenkinél:
	</p>

- üzenőfüzet
- tolltaró
- órarend

Aki ebéd után szeretne hazamenni (11:45- től ) hozzon
szülői kikérőt.
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news53"}}
{{#markdown}}
A Bálint Sándor Tagiskola tanítói szeretettel várják az
iskolába induló nagycsoportos gyermekeket
suliváró foglalkozásokra.

**Várható időpontok:**

✅ 2025. október 21. (kedd) 16:30<br>
✅ 2025. december 9. (kedd) 16:30<br>
✅ 2026. február 10. (kedd) 16:30<br>
✅ 2026. március 10. (kedd) 16:30<br>

{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news54"}}
{{#markdown}}
A Petőfi Sándor Általános Iskola tanítói szeretettel várják az
iskolába induló nagycsoportos gyermekeket suliváró foglalkozásokra.

**Várható időpontok:**

✅ 2025. szeptember 23. (kedd) 16:00<br>
✅ 2025. október 7. (kedd) 16:00<br>
✅ 2026. november 4. (kedd) 16:00<br>
✅ 2026. december 2. (kedd) 16:00<br>
✅ 2026. február 3. (kedd) 16:00<br>
✅ 2026. március 10. (kedd) 16:00<br>
✅ 2026. április 14. (kedd) 16:00<br>

{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news55"}}
{{#markdown}}
„Szent Mihály napján különös erő árad szét a világban” – a mondás igazságát október 2-án, a tankerület alsó tagozatos diákjai számára hagyományteremtő szándékkal rendezett játékos váltóversenyünkön megtapasztalhattuk. A versenyzők, Szent Mihály küldöttei végigjárták a „lépegető” útját, és bebizonyították, hogy méltók a hagyományok őrzésére és továbbadására.

<p class="text-center"><a class="button" href="{{root}}galeriak/2025_26/bs/2025_10_02_szent_mihaly-napi_lepegeto.html">Tovább a galériához</a></p>
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news56"}}
{{#markdown}}
A Bálint Sándor Tagiskola tanítói szeretettel várják az iskolába induló nagycsoportos gyermekeket suliváró foglalkozásra <br>
**2025. október 21-én (kedd) 16:30-tól**.

**Szülői tájékoztató** <br>
A foglalkozással párhuzamos időpontban szeretettel várjuk a leendő elsős gyermekek szüleit iskolabemutatóval egybekötött szülői
tájékoztatóra.
{{/markdown}}
{{/ifequal}}

{{#ifequal hir "news57"}}
{{#markdown}}
- utolsó tanítási nap: 2025. október 22. (szerda)
- első tanítási nap: 2025. november 3. (hétfő)
{{/markdown}}
{{/ifequal}}


{{#ifequal hir "news58"}}
<div class="grid-x">
	
	<p>30. alkalommal rendeztük meg járási versenyeinket, melyen 31 iskola 70 tehetséges tanulója vett részt.
	</p>
	<p>
		A díjazottak neve és iskolája a fényképek alatt megtekinthető.

		Gratulálunk a versenyző diákok teljesítményéhez!

		Örülünk, hogy ilyen sokan megtiszteltek bennünket jelenlétükkel!
	</p>

</div>
<div class="grid-x grid-margin-x">
	<div class="cell small-12 large-6">
		<div class="card">
			<img src="{{root}}assets/img/hirfolyam/jarasi_verseny/2o.jpg">
			<div class="card-section">
				<p>
					<b>2. osztály:</b><br>
					<b>1.</b> helyezett: Krizsán Bella<br>(Szegedi Gregor József Általános Iskola)<br>
					<b>2.</b> helyezett: Németh Vivien<br>(Szegedi Petőfi Sándor Általános Iskola)<br>
					<b>3.</b> helyezett: Vas Lili<br>(Rókusi Általános Iskola)<br>
					Különdíj: Kis Kinga<br>(Petőfi Sándor Általános Iskola, Hajdújárás)<br>
					Bosnyák Márió<br>(Petőfi Sándor Általános Iskola, Hajdújárás)
				</p>
			</div>
		</div>
	</div>
	<div class="cell small-12 large-6">
		<div class="card">
			<img src="{{root}}assets/img/hirfolyam/jarasi_verseny/3o.jpg">
			<div class="card-section">
				<p>
					<b>3. osztály:</b><br>
					<b>1.</b> helyezett: Németh Eliza<br>(Szegedi Madách Imre Magyar-Angol Két Tanítási Nyelvű Általános
					Iskola)<br>
					<b>2.</b> helyezett: Bernáth Szófia<br>(Szegedi Orczy István Általános Iskola)<br>
					<b>3.</b> helyezett: Frank Milán<br>(Szegedi Fekete István Általános Iskola)<br>
					Különdíj: Vaszil Tamara<br>(Szegedi Petőfi Sándor Általános Iskola)
				</p>
			</div>
		</div>
	</div>
</div>

<div class="grid-x grid-margin-x">
	<div class="cell small-12 large-6">
		<div class="card">
			<img src="{{root}}assets/img/hirfolyam/jarasi_verseny/4o.jpg">
			<div class="card-section">
				<p>
					<b>4. osztály</b><br>
					<b>1.</b> helyezett: Göldner Adél<br>(Szegedi Arany János Általános Iskola)<br>
					<b>2.</b> helyezett: Csala Olivér<br>(Ruzsai Weöres Sándor Általános Iskola és AMI)<br>
					<b>3.</b> helyezett: Berekméri Bella<br>(Szegedi Arany János Általános Iskola)<br>
					Különdíj: Barkóci Fanni<br>(Hunyadi János Általános Iskola, Csantavér)<br>
					Majoros Szandra<br>(Hunyadi János Általános Iskola, Csantavér)
				</p>
			</div>
		</div>
	</div>
	<div class="cell small-12 large-6">
		<div class="card">
			<img src="{{root}}assets/img/hirfolyam/jarasi_verseny/5-6o.jpg">
			<div class="card-section">
				<p>

					<b>5-6. osztály</b><br>
					<b>1.</b> helyezett: Mig Izabella<br>(Domaszéki Bálint Sándor Általános Iskola és AMI)<br>
					<b>2.</b> helyezett: Kállai Fanni Nóra<br>(Szegedi Kossuth Lajos Általános Iskola)<br>
					<b>3.</b> helyezett: Vastag Koppány<br>(Szegedi Dózsa György Általános Iskola)

				</p>
			</div>
		</div>
	</div>
</div>
<div class="grid-x">
	<div class="cell small-12">
		<div class="card">
			<img src="{{root}}assets/img/hirfolyam/jarasi_verseny/7-8o.jpg">
			<div class="card-section">
				<p>
					<b>7-8. osztály</b><br>
					1. helyezett: Rajhona Márton Olivér (Tisza-parti Általános Iskola)<br>
					<b>2.</b> helyezett: Kiss János (Szegedi Dózsa György Általános Iskola)<br>
					<b>3.</b> helyezett: Vincze Noémi (Szegedi Kossuth Lajos Általános Iskola Deszki Zoltánfy István
					Általános
					Iskolája)
				</p>
			</div>
		</div>
	</div>
</div>
{{/ifequal}}

