{{#markdown}}
A Szegedi Petőfi Sándor Általános Iskola az idei tanévben is megrendezi a több évtizedes hagyománynak örvendő „Szép beszéd” járási prózamondó versenyt. Szeretettel várjuk az érdeklődő tanulókat és felkészítőiket.  

Minden résztvevőt ajándékkal, emléklappal várunk, a helyezetteket értékes könyvjutalomban és oklevélben részesítjük. 

Az elődeinktől örökölt nyelvet felelősséggel kell továbbadnunk a felnövekvő nemzedéknek. A magyar nyelv ápolására, annak szép használatára késztet e nemes vetélkedő. 

* A versenyzőknek egy szabadon választott irodalmi művet vagy annak részletét kell kívülről elmondaniuk az előző évek gyakorlatához hasonlóan (monda, elbeszélés vagy regényrészlet). 
* Kérjük, a versenyzők **mesével ne** készüljenek! 
* A szöveg terjedelme lehetőleg ne haladja meg az egy gépelt oldalt! 
* A verseny két kategóriában folyik, 5-6. és 7-8. osztályos korcsoportban.

{{/markdown}}