{{#ifequal list "1o"}}
{{#markdown}}
Váltócipő

<p class="md-p-0">Füzetek:</p>

-	2 db A/4-es sima
-	1 db 36-16 kottafüzet
-	3 db 14-32 1. osztályos vonalazású füzet
-	3 db 27-32 négyzetrácsos füzet
-	1 db sima füzet A/5

Minden füzetet, átlátszó n**em ragasztós** borítóba legyenek szívesek csomagolni! A könyveket **ne** csomagolják be!

*3 csomag írólap* <br>
40 db félfamentes rajzlap A/4<br>
1 ív merített papír (bármilyen színű)<br>
1 csomag színes papír A/4 1 db gyurmatábla A/4<br>
1 db tartályos hegyező<br>
4 db A/4-es méretű gumis mappa<br>
1 db fekete filctoll (nem alkoholos)<br>

**1 db tolltartó, benne:**<br>
5 db HB-s grafitceruza (radír nélküli)<br>
2 db vékony piros-kék ceruza 1 db piros-kék vastag postairon 1 db fehér radír<br>
12 darabos színes ceruza (tizenkét különböző színű, jó minőségű)<br>
1 db 10-15 cm-es vonalzó (merev, ami a tolltartóban elfér)<br>

**Legyenek szívesek a gyermek nevét, vagy monogramját és óvodai jelét mindenre ráírni!**

<p class="md-p-0-b"><u>Matematika vászonzsákban</u></p>

- 1 doboz logikai lapok
- 1	db műanyag óralap
- 2	doboz számolókorong
- 1 csomag számolópálcika
- 1 db kétoldalas kistükör
- 1 db műanyag hőmérő

<p class="md-p-0-b""><strong><u>Tornazsákban</u></strong></p>

- 1 db kicsi törölköző
- 1 pár fehér zokni
- 1 pár tornacipő vagy edzőcipő (ne legyen csúszós a talpa)
- Petőfis póló / fehér póló sötét színű
- rövidnadrág
- hosszú melegítőnadrág, felső

<p class="md-p-0"></p>Augusztus utolsó hetében, megbeszélt időpontban kérjük behozni:</p>

-	Matematika vászonzsákot
-	100 darab nem éttermi szalvéta,
-	2 csomag 100 darabos zsebkendő,
-	1 csomag uzsonnás zacskó,
-	uzsonnás doboz, benne ruhaszalvéta, és teáskanál

<p><i>Köszönettel.: Babett néni és Ildikó néni</i></p>


{{/markdown}}
{{/ifequal}}

{{#ifequal list "2o"}}
{{#markdown}}
**A füzetekre csak nevet kérünk ráírni‚ tantárgyat nem!**

-	tartályos hegyező
-	„elefántos” radír
-	Pritt papírragasztó stift nagy (43-g)
-	3 db A/4 es gumis mappa
-	merevfalú A/4-es irattartó papucs
-	ecsettörlő rongy
-	nagyalakú sima füzet (rajzolós füzetnek)
-	6 db kisalakú 16-32 sz. vonalas füzet
-	3 db kisalakú 27-32 sz. négyzetrácsos füzet
-	1 db nagyalakú négyzetrácsos füzet 87-32 nem spirálos
-	1 db kisalakú sima füzet 20-32
-	1 db kisalakú üzenőfüzet (vonalas is jó)
-	5-6 db HB-s grafit ceruza radírnélküli
-	12 színes ceruza, plusz kék, piros, zöld 1-1- db, vékony postaírón 1 db
-	kisméretű (max. 20cm-es) vonalzó, ami a tolltartóban elfér (nem papír)
-	30 db „műszaki” rajzlap fehér
-	1 fekete tűfilc
-	3 csomag írólap
<p></p>
**Minden tavalyi, megfelelő állapotú eszköz az idén is használható! (korong, pálca, dobókocka)**

<ul>
  <li>vizes edény, névvel ellátva</li>
  <li>1 csomag ecsetkészlet</li>
  <li>1 jobb olló (balkezeseknek „balos”, az elsős is jó)</li>
  <li>1 db mérőszalag</li>
  <li>krepp papír (1 db fehér, 1 db narancs, 1 db barna, 1 db lila, 1 db rózsaszín)</li>
  <li>váltóruha, váltó cipő</li>
  <li>tornafelszerelés tornazsákban:
    <ul>
      <li>évszaknak megfelelően rövid, vagy hosszú nadrág, Petőfis póló, pulóver</li>
      <li>fehér zokni</li>
      <li>kényelmes csúszásmentes cipő</li>
    </ul>
  </li>
</ul>
<p></p>

{{/markdown}}
{{/ifequal}}

{{#ifequal list "3o"}}
{{#markdown}}
**A füzetekre csak nevet kérünk ráírni, tantárgyat nem!**

<ul>
  <li>váltóruha évszaknak megfelelően</li>
  <li>textilszalvéta, kanál, pohár</li>
  <li>1 db A/4-es négyzetrácsos füzet</li>
  <li>1 db A/4-es vonalas füzet</li>
  <li>1 db 16-32 (másodikos vonalazású!) füzet</li>
  <li>7 db harmadikos vonalazású füzet</li>
  <li>1 db szótárfüzet angolosoknak</li>
  <li>2 db 27-32 sz. négyzetrácsos füzet</li>
  <li>1 db leckefüzet</li>
  <li>1 db üzenőfüzet</li>
  <li>1 db rajzos sima füzet (kicsi vagy nagy)</li>
  <li>Hangjegyfüzet – 2. osztályban használt. Nem kell új!</li>
  <li>2 db Mesefüzet kisalakú harmadikos vonalazású füzet</li>
  <li>5 db HB-s grafit ceruza – ne legyen radíros és lehetőleg ne henger alakú</li>
  <li>2 db B-s grafit ceruza rajzórára</li>
  <li>1 db fehér radír</li>
  <li>15-20 cm-es vonalzó (tolltartóba)</li>
  <li>2 db vékony kék-piros ceruza</li>
  <li>1 db zöld ceruza</li>
  <li>1 db golyóstoll (csak kék színű)</li>
  <li>12 színű színes ceruza</li>
  <li>olló</li>
  <li>vizes edény a tavalyi is jó</li>
  <li>1 db gombolyag fonal (kötő)</li>
  <li>1 db fekete tűfilc</li>
  <li>12 színű filctoll készlet</li>
  <li>30 db fehér rajzlap A/4-es</li>
  <li>20 db fehér rajzlap A/3-as</li>
  <li>3 db különböző vastagságú ecset</li>
  <li>12 színű Anilinky festék, tavalyi is jó</li>
  <li>hegyező</li>
  <li>A/4 méretű színespapír csomag</li>
  <li>A/4 méretű színeskarton csomag</li>
  <li>négyzet alakú színespapír csomag</li>
  <li>2 csomag írólap</li>
  <li>szivacs (kicsi a festéshez)</li>
  <li>A/3-as gumis mappa rajzoknak, jó a tavalyi</li>
  <li><b>Digitális kultúra:</b>
    <ul>
      <li>1 db 27-32 kisméretű négyzetrácsos füzet</li>
      <li>1 db kék színű toll</li>
    </ul>
  </li>
  <li><b>tornafelszerelés:</b>
    <ul>
      <li>tornazsák</li>
      <li>Petőfis póló</li>
      <li>sötét alsó</li>
      <li>fehér zokni</li>
      <li>torna-/edzőcipő</li>
      <li>kis méretű törölköző</li>
    </ul>
  </li>
</ul>
<p></p>
**Minden tavalyi, megfelelő állapotú
eszköz az idén is használható!**

{{/markdown}}
{{/ifequal}}

{{#ifequal list "4o"}}
{{#markdown}}
**Minden tavalyi, megfelelő állapotú eszköz az idén is
használható!**
<ul>
  <li>1 db kisalakú sima füzet</li>
  <li>7 db 21-32 sz. kisalakú vonalas füzet</li>
  <li>1 db 27-32 sz. kisalakú négyzetrácsos füzet</li>
  <li>1 db 36-16 sz. hangjegyfüzet (A/5 méretben) Jó a tavalyi is.</li>
  <li>1 db leckefüzet</li>
  <li>1 db üzenőfüzet</li>
  <li>3 db grafit ceruza, 1 db B-s ceruza, radír, vékony piros-kék ceruza, 12 db-os színes ceruza készlet (12 db különböző színű, jó minőségű)</li>
  <li>kis vonalzó, ami elfér a tolltartóban</li>
  <li>30 cm-es vonalzó</li>
  <li>vékony hegyű kék színű toll (NEM zselés)</li>
  <li>1 csomag írólap</li>
  <li>2 db A/4-es gumis mappa, tavalyi is jó, névvel ellátva</li>
  <li>12 színű filctoll</li>
  <li>fekete tűfilc</li>
  <li>1 uzsonnásdoboz</li>
  <li>1 db teáskanál</li>
  <li>tornafelszerelés: Névbeírással!
    <ul>
      <li>sötét alsó (rövid sport nadrág)</li>
      <li>Petőfis, vagy fehér póló</li>
      <li>tornacipő</li>
      <li>fehér zokni</li>
    </ul>
  </li>
</ul>

<p class="md-p-top1-b">Angol 1 (Rita néni):</p>

-	1 db 31-32 kisalakú szótárfüzet
-	1 db 81-32 nagyalakú vonalas füzet

<p class="md-p-top1-b"><strong>Digitális kultúra:</strong></p>
-	1 db kék színű toll
-	1 db db 27-32 sz. kisalakú négyzetrácsos füzet

<p class="md-p-top1-b"><strong>Angol 2 (Lili néni):</strong></p>

-	3 db 21-32 sz. kisalakú vonalas füzet
-	1 db 31-32 kisalakú szótárfüzet
-	1 db zöld golyóstoll

{{/markdown}}
{{/ifequal}}

{{#ifequal list "5o"}}
{{#markdown}}
<p class="md-p-0-b">Magyar nyelvtan</p>

- 2 db nagyalakú vonalas füzet 81-32

<p class="md-p-0-b">Magyar irodalom</p>

- 2 db kisalakú vonalas füzet 21-32

<p class="md-p-0-b">Történelem és állampolgári ismeretek</p>

-	1 db nagyalakú vonalas füzet 81-32
-	1 db kisalakú vonalas füzet 21-32

<p class="md-p-0-b">Angol 5/1 (Rita néni)</p>

-	1 db nagyalakú vonalas füzet 81-32

<p class="md-p-0-b">Angol 5/2 (Lili néni)</p>

-	1 db kisalakú szótárfüzet 31-32
-	2 db kisalakú vonalas füzet 21-32

<p class="md-p-0-b">Matematika</p>

-	5 db négyzetrácsos füzet 27-32
-	1 db sima füzet A/5 20-32
-	1 db papír szögmérő
-	1 db körző
-	2 db derékszögű vonalzó
-	1 db egyenes vonalzó 30cm
-	1 db kisvonalzó, ami a tolltartóban elfér

<p class="md-p-0-b">Természettudomány</p>

-	1 db vonalas füzet 21-32 vagy 88-32

<p class="md-p-0-b">Ének-zene</p>

- 1 db kisalakú hangjegyfüzet 36-32

<p class="md-p-0-b">Technika és életvitel</p>

-	10 db műszaki rajzlap
-	10 db félfamentes rajzlap
-	1 db A4-es mappa
-	olló
-	ragasztó
-	1 csomag A4-es színes papír készlet
-	1 db kisalakú vonalas füzet 20-32

<p class="md-p-0-b">Etika</p>

-1 db kisalakú vonalas füzet 21-32

<p class="md-p-0-b">Digitális kultúra</p>

-	1 db kisméretű négyzetrácsos füzet 27-32
-	1 db kék színű toll

<p class="md-p-0-b">Rajz- és vizuális kultúra</p>

-	rajzlap: 40 db A/4-es méretű famentes
<p class="md-p-0-b">Csak a kifogyott felszerelést kell pótolni.</p>
-	1 db cipős doboz
-	1 db 12 színű gombfesték (lehetőleg
Anilinky)
-	minimum 3 db ecset
-	1 db temperakészlet (6 vagy 12 színű)
-	12 színű színes ceruza
-	2B-s ceruza
-	1 csomag gyurma (natúr)
-	1 db olló, ragasztó
-	1 db mappa
-	A4-s színes papír készlet
-	1 db rossz póló
-	1 db rongy
-	Fekete tűfilc

<p class="md-p-0-b">Testnevelés és sport</p>

-	1 db tornazsák
-	Petőfis póló
-	fehér zokni
-	sötét alsó fiúknak: rövid nadrág Lányoknak: hosszú sztreccs, vagy térdig érő nadrág
-	tornacipő

<p class="md-p-0-b">Osztályfőnöki</p>

- 1 db kisalakú vonalas füzet 21-32
<p class="md-p-0-i">Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó
</p>
<p class="md-p-top1-b" style="margin-left: -1em;">Kötelező olvasmány</p>
Molnár Ferenc: A Pál utcai fiúk

{{/markdown}}
{{/ifequal}}

{{#ifequal list "6o"}}
{{#markdown}}

<p class="md-p-0-b">Magyar nyelvtan</p>

-	2 db nagyalakú vonalas füzet 81-32

<p class="md-p-0-b">Magyar irodalom</p>

- 1 db kisalakú vonalas füzet 21-32

<p class="md-p-0-b">Történelem és állampolgári ismeretek</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32

<p class="md-p-0-b">Angol 6/1 Lili néni</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32
- 1 db kisalakú szótárfüzet 31-32

<p class="md-p-0-b">Angol 6/2 Rita néni</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú szótárfüzet 31-32

<p class="md-p-0-b">Matematika</p>

-	5 db kisalakú négyzetrácsos füzet 27-32
-	1 db sima füzet kisalakú 20-32
-	1 db körző
-	2 db derékszögű vonalzó
-	1 csomag írólap
-	1 db egyenes vonalzó 30cm
-	1 db kisvonalzó, ami a tolltartóban elfér
<p class="md-p-0-b"></p>

<p class="md-p-0-b"></p>
-	1 db kisméretű négyzetrácsos füzet 27-32
<p class="md-p-0-b">Természettudomány</p>

-	1 db kisméretű vonalas füzet 21-32 vagy 88-32
<p class="md-p-0-b">Ének-zene</p>

- 1 db kisalakú hangjegyfüzet 36-32

<p class="md-p-0-b">Technika és életvitel</p>

-	10 db műszaki rajzlap
-	10 db félfamentes rajzlap
Csak a kifogyott felszerelést kell pótolni.
-	1 db A4-es mappa
-	olló
-	ragasztó
-	1 csomag A4-es színes papír készlet
-	1 db kisalakú vonalas füzet 20-32 tavalyi folytatható
 
<p class="md-p-0-b">Osztályfőnöki</p>

- 1 db kisalakú vonalas füzet 21-32

<p class="md-p-0-b">Rajz- és vizuális kultúra</p>

-	40 db A/4-es méretű famentes rajzlap
<p class="md-p-0-b">Csak a kifogyott felszerelést kell pótolni.</p>
-	1 db cipős doboz
-	1 db 12 színű gombfesték (lehetőleg
Anilinky)
-	minimum 3 db ecset
-	1 db temperakészlet (6vagy 12 színű)
-	12 színű színes ceruza
-	2B-s ceruza
-	1 csomag gyurma (natúr)
-	1 db olló, ragasztó
-	1 db mappa
-	A4-s színes papír készlet
-	1 db rossz póló
-	1 db rongy
-	Fekete tűfilc

<p class="md-p-0-b">Testnevelés és sport</p>

-	1 db tornazsák
-	Petőfis póló
-	fehér zokni
-	sötét alsó Fiúknak: rövid nadrág Lányoknak: hosszú sztreccs, vagy térdig érő nadrág
-	tornacipő

<p class="md-p-top1-b">Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó.</p>

<p></p>
<b>Kötelező olvasmány</b> <br>
Gárdonyi Géza: Egri csillagok 2 rész <br>
+ kedvenc olvasmányom


{{/markdown}}
{{/ifequal}}

{{#ifequal list "7o"}}
{{#markdown}}

<p class="md-p-0-b">Magyar nyelvtan</p>

-	2 db nagyalakú vonalas füzet 81-32

<p class="md-p-0-b">Magyar irodalom</p>

-	1 db kisalakú vonalas füzet 21-32

<p class="md-p-0-b">Történelem és állampolgári ismeretek</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32

<p class="md-p-0-b">Angol 7/2 Kati néni</p>
- 1 db nagyalakú vonalas füzet 81-32

<p class="md-p-0-b">Angol tagozat 7/1 Lili néni</p>

- 1 db nagyalakú vonalas füzet 81-32
- 1 db kisalakú vonalas füzet 21-32
- 1 db kisalakú szótárfüzet 31-32

<p class="md-p-0-b">Matematika</p>

-	5 db kisalakú négyzetrácsos füzet 27-32
-	1 db sima kisalakú füzet 20-32
-	1 db körző
-	2 db derékszögű vonalzó
-	1 db egyenes vonalzó 30cm
-	1 db kisvonalzó, ami a tolltartóban elfér

<p class="md-p-0-b">Digitális kultúra</p>

-	1 db kisalakú négyzetrácsos füzet 27-32

<p class="md-p-0-b">Fizika</p>

-	1 db nagyalakú négyzetrácsos füzet 87-32
-	1 csomag írólap

<p class="md-p-0-b">Biológia</p>

-	vonalas füzet (21-32 vagy 81-32)

<p class="md-p-0-b">Kémia</p>

-	vonalas füzet (21-32 vagy 81-32)

<p class="md-p-0-b">Földrajz</p>

-	1 db nagyalakú vonalas füzet 81-32
-	1 csomag írólap

<p class="md-p-0-b">Ének-zene</p>

-1 db kisalakú hangjegyfüzet 36-32

<p class="md-p-0-b">Etika</p>

-1 db kisalakú vonalas füzet 21-32

<p class="md-p-0-b">Osztályfőnöki</p>

-1 db kisalakú vonalas füzet 21-32

<p class="md-p-0-b">Testnevelés és sport</p>

- 1 db tornazsák
-	Petőfis póló
-	fehér zokni
-	sötét alsó Fiúknak: rövid nadrág Lányoknak: hosszú sztreccs, vagy térdig érő nadrág
-	tornacipő

<p class="md-p-0-b">Rajz- és vizuális kultúra</p>

-	40 db A/4-es méretű famentes rajzlap
<p class="md-p-left-1-b">Csak a kifogyott felszerelést kell pótolni.</p>
-	1 db cipős doboz
-	1 db 12 színű gombfesték (lehetőleg Anilinky)
-	minimum 3 db. ecset
-	1 db temperakészlet (6 vagy 12 színű)
-	12 színű színes ceruza
-	2B-s ceruza
-	1 csomag gyurma (natúr)
-	1 db olló, ragasztó
-	1 db mappa
-	A4-s színes papír készlet
-	1 db rossz póló
-	1 db rongy
-	Fekete tűfilc

<p class="md-p-0-b">Technika és életvitel</p>

-	10 db műszaki rajzlap
-	10 db félfamentes rajzlap
<p class="md-p-left-1-b">Csak a kifogyott felszerelést kell pótolni.</p>
-	1 db A4-es mappa
-	olló
-	ragasztó
-	1 csomag A4-es színes papír készlet
-	1 db kisalakú vonalas füzet 20-32 tavalyi folytatható

<p class="md-p-top1-b">Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó</p>

<p></p>
<b>Kötelező olvasmány</b> <br>
Mikszáth Kálmán: Szent Péter esernyője <br>
+ kedvenc olvasmányom

{{/markdown}}
{{/ifequal}}

{{#ifequal list "8o"}}
{{#markdown}}

<p class="md-p-0-b">Magyar nyelvtan és Magyar irodalom</p>

-	2 db nagyalakú vonalas füzet 81-32
-	1 db kisalakú vonalas füzet 21-32

<p class="md-p-0-b">Történelem</p>

-	1 db nagyalakú vonalas füzet 81-32
-	1 db kisalakú vonalas füzet 21-32

<p class="md-p-0-b">Állampolgári ismeretek</p>

-	1 db kisalakú vonalas füzet 21-32

<p class="md-p-0-b">Angol 8/2 Rita néni</p>

-	1 db nagyalakú vonalas füzet 81-32
-	1 db kisalakú szótárfüzet 31-32

<p class="md-p-0-b">Angol tagozat</p>

-	1 db nagyalakú vonalas füzet 81-32
-	2 db kisalakú vonalas füzet 21-32
-	1 db kisalakú szótárfüzet 31-32

<p class="md-p-0-b">Matematika</p>

-	5 db négyzetrácsos füzet 27-32
-	1 db sima füzet A/4 80-32
-	1 db körző
-	2 db derékszögű vonalzó
-	1 db egyenes vonalzó 30cm
-	1 db kisvonalzó, ami a tolltartóban elfér

<p class="md-p-0-b">Digitális kultúra</p>

-	1 db kisalakú négyzetrácsos 27-32

<p class="md-p-0-b">Fizika</p>

-	1 db nagyalakú négyzetrácsos füzet (tavalyi folytatható) 87-32
-	1 csomag írólap

<p class="md-p-0-b">Biológia</p>

-	vonalas füzet (21-32 vagy 81-32)

<p class="md-p-0-b">Kémia</p>

-	vonalas füzet (21-32 vagy 81-32)

<p class="md-p-0-b">Földrajz</p>

-	1 db vonalas A/4-es vonalas füzet 81-32
-	1 csomag írólap

<p class="md-p-0-b">Ének-zene</p>

- 1 db kisalakú hangjegyfüzet 36-32

<p class="md-p-0-b">Etika</p>

- hamarosan

<p class="md-p-0-b">Testnevelés és sport</p>

-	1 db tornazsák
-	Petőfis póló
-	fehér zokni
-	sötét alsó Fiúknak: rövid nadrág Lányoknak: hosszú sztreccs, vagy térdig érő nadrág
-	tornacipő

<p class="md-p-0-b">Rajz- és vizuális kultúra</p>

-	rajzlap: 40 db A/4-es méretű famentes
<p class="md-p-left-1-b">Csak a kifogyott felszerelést kell pótolni.</p>
-	1 db cipős doboz
-	1 db 12 színű gombfesték (lehetőleg
Anilinky)
-	minimum 3 db ecset
-	1 db temperakészlet (6 vagy 12 színű)
-	12 színű színes ceruza
-	2B-s ceruza
-	1 csomag gyurma (natúr)
-	1 db olló
-	1 db stift ragasztó
-	1 db mappa
-	A4-s színes papír készlet
-	1 db rossz póló
-	1 db rongy
-	Fekete tűfilc

<p class="md-p-0-b">Osztályfőnöki</p>

- 1 db kisalakú vonalas füzet 21-32


<p class="md-p-top1-b">Minden órán legyen: Színes ceruza: sárga, világos barna, sötétbarna, kék, zöld, piros, fekete, ceruza (B-s, HB-s), radír, kék színű golyóstoll, zöld színű golyóstoll, vonalzó, ragasztó </p>

<p></p>
<b>Kötelező olvasmány</b> <br>
Móricz Zsigmond: Légy jó mindhalálig

{{/markdown}}
{{/ifequal}}

