<thead>
    <tr>
        <th class="text-center" style="width:44%">Mérési terület</th>
        <th style="width:20%"><abbr title="{{oszlop2name}}">{{oszlop2shortname}}</abbr></th>
        <th class="text-center"><abbr title="{{oszlop3name}}">{{oszlop3shortname}}</abbr></th>
        <th class="text-center"><abbr title="A feladatellátási hely eredménye az országos átlaghoz képest">f. ellát. hely eredm. az orsz. átl.</abbr></th>
        <th class="text-center"><abbr title="Első viszonyítási csoport">1. visz. csop.</abbr></th>
        <th class="text-center">A felad. ellát. hely eredm. az 1. viszonyítási csop. átlagához képest</th>
        <th class="text-center">Második viszonyítási csoport</th>
        <th class="text-center">A felad. ellát. hely eredm. a 2. viszonyítási csop. átlagához képest</th>
    </tr>
</thead>