<ul
    class="accordion"
    data-accordion
    data-deep-link="true"
    data-update-history="true"
    data-deep-link-smudge="true"
    data-deep-link-smudge-delay="500"
    id="deeplinked-accordion"
>
    <li class="accordion-item" data-accordion-item>
        <a href="#1o" class="accordion-title text-center">1. osztály</a>
        <div class="accordion-content" data-tab-content id="1o">
            <ol>
                {{#each global.osztalyok.bs.1b}}
                <li>{{ this }}</li>
                {{/each}}
            </ol>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#2o" class="accordion-title text-center">2. osztály</a>
        <div class="accordion-content" id="2o" data-tab-content>
            <ol>
                {{#each global.osztalyok.bs.2b}}
                <li>{{ this }}</li>
                {{/each}}
            </ol>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#3o" class="accordion-title text-center">3. osztály</a>
        <div class="accordion-content" id="3o" data-tab-content>
            <ol>
                {{#each global.osztalyok.bs.3b}}
                <li>{{ this }}</li>
                {{/each}}
            </ol>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#4o" class="accordion-title text-center">4. osztály</a>
        <div class="accordion-content" id="4o" data-tab-content>
            <ol>
                {{#each global.osztalyok.bs.4b}}
                <li>{{ this }}</li>
                {{/each}}
            </ol>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#5o" class="accordion-title text-center">5. osztály</a>
        <div class="accordion-content" id="5o" data-tab-content>
            <ol>
                {{#each global.osztalyok.bs.5b}}
                <li>{{ this }}</li>
                {{/each}}
            </ol>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#6o" class="accordion-title text-center">6. osztály</a>
        <div class="accordion-content" id="6o" data-tab-content>
            <ol>
                {{#each global.osztalyok.bs.6b}}
                <li>{{ this }}</li>
                {{/each}}
            </ol>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#7o" class="accordion-title text-center">7. osztály</a>
        <div class="accordion-content" id="7o" data-tab-content>
            <ol>
                {{#each global.osztalyok.bs.7b}}
                <li>{{ this }}</li>
                {{/each}}
            </ol>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#8o" class="accordion-title text-center">8. osztály</a>
        <div class="accordion-content" id="8o" data-tab-content>
            <ol>
                {{#each global.osztalyok.bs.8b}}
                <li>{{ this }}</li>
                {{/each}}
            </ol>
        </div>
    </li>
</ul>
